# Compiled NEURON mechanisms
*.o
*.c
*.dll
nrnmech.dll

# Simulation output
output/spikes.h5
output/spikes.csv
output/cell_vars.h5

# Network binary files
network/**/*.h5

# Jupyter notebooks
*.ipynb

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Spike output
raw_model/spike_output/

# Audio
*.wav

# OS
.DS_Store
Thumbs.db
